@{
    ViewData["Title"] = "Listado de Usuarios";
}
@if (TempData["SuccessCreateUsuarios"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Exito!</strong>  @TempData["SuccessCreateUsuarios"].ToString().
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["SuccessModifyUsuarios"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Exito!</strong>  @TempData["SuccessModifyUsuarios"].ToString().
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<br />
<div class="container card  p-5 text-align-center">
    <h1>@ViewData["Title"]</h1>
    <hr />
<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="User">Crear Usuario</a>
</p>
<table class="display responsive table table-bordered" style="width:100%" id="myTable">
    <thead>
        <tr>
            <th>Username</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
<br />
@section Scripts{

    <script>
        var tabla;
        $(document).ready(function () {
            tabla = $('#myTable').DataTable({
                "dom": 'lBfrtip',
                "buttons": [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="bi bi-file-earmark-excel"></i> Exportar a Excel',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn-success'
                    },
                    {
                        extend: 'print',
                        text: '<i class="bi bi-printer"></i> Imprimir',
                        titleAttr: 'Imprimir',
                        className: 'table-button'
                    }
                ],
                "ajax": {
                    "url": "@Url.Action("ListarUsuarios", "User")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "username" },
                    { "data": "nombres" },
                    { "data": "apellidos" },
                    { "data": "telefono" },
                    { "data": "email" },
                    { "data": "rol" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var idUsuario = row.idUsuario;
                            var Usuario = row.username;
                            var rol = row.roles; // Asumiendo que tienes una propiedad 'rol' en tus datos

                            var modifyButton = "<a class='btn btn-primary btn-sm' href='@Url.Content("~/User/Modify/")" + idUsuario + "'><i class='bi bi-pencil-square'></i></a> &nbsp;";
                            

                            return modifyButton +
                                "<button class='btn btn-danger btn-sm ml-2' type='button' onclick='Eliminar(\"" + Usuario + "\"," + idUsuario + ")'><i class='bi bi-trash-fill'></i></button>";
                        }
                    }

                ],


                "language": {
                    "url": "@Url.Content("~/assets/datatable/idioma/datatable.es-ES.json")"
                }
            });
        });
        function Eliminar(usuario, idUsuario) {
            Swal.fire({
                title: `Estas seguro de Elimiar al usuario ${usuario}?`,
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si Eliminalo!'
            }).then((result) => {
                if (result.isConfirmed) {

                    var url = '@Url.Content("~/User/Delete/")' + idUsuario;
                    $.post(url, idUsuario).done(function (data) {
                        if (data.success) {
                            Swal.fire(
                                'Eliminado!',
                                'Usuario Eliminado.',
                                'success'
                            ).then(() => {
                                // Espera 2 segundos antes de recargar la página
                                setTimeout(() => {
                                    location.reload();
                                }, 0);
                            });



                        } else {
                            Swal.fire(
                                'Fallo!',
                                'Usuario No Eliminado.',
                                'warning'
                            )
                        }
                    });

                }
            });
        }
    </script>
}