@model LaEscalonia.Models.Response.Weather
@using System.Globalization
@{
    DateTime date = DateTime.ParseExact(Model.day1.date, "yyyy-M-d", CultureInfo.InvariantCulture);
    DayOfWeek dayOfWeek = date.DayOfWeek;
    Model.DayOfWeek = DayOfWeekToSpanish(dayOfWeek);
    var day2 = DayOfWeekToSpanish(DateTime.ParseExact(Model.day2.date, "yyyy-M-d", CultureInfo.InvariantCulture).DayOfWeek);
    var day3 = DayOfWeekToSpanish(DateTime.ParseExact(Model.day3.date, "yyyy-M-d", CultureInfo.InvariantCulture).DayOfWeek);
    var day4 = DayOfWeekToSpanish(DateTime.ParseExact(Model.day4.date, "yyyy-M-d", CultureInfo.InvariantCulture).DayOfWeek);
    var day5 = DayOfWeekToSpanish(DateTime.ParseExact(Model.day5.date, "yyyy-M-d", CultureInfo.InvariantCulture).DayOfWeek);
    var day6 = DayOfWeekToSpanish(DateTime.ParseExact(Model.day6.date, "yyyy-M-d", CultureInfo.InvariantCulture).DayOfWeek);
    var day7 = DayOfWeekToSpanish(DateTime.ParseExact(Model.day7.date, "yyyy-M-d", CultureInfo.InvariantCulture).DayOfWeek);

    Model.day2.date = ParceDate(Model.day2.date);
    Model.day3.date = ParceDate(Model.day3.date);
    Model.day4.date = ParceDate(Model.day4.date);
    Model.day5.date = ParceDate(Model.day5.date);
    Model.day6.date = ParceDate(Model.day6.date);
    Model.day7.date = ParceDate(Model.day7.date);
    }
@functions {
    static string ParceDate(string date)
    {
        return DateTime.Parse(date).ToString("dd/MM/yyyy");
    }
    static string DayOfWeekToSpanish(DayOfWeek dayOfWeek)
    {
        switch (dayOfWeek)
        {
            case DayOfWeek.Monday:
                return "Lunes";
            case DayOfWeek.Tuesday:
                return "Martes";
            case DayOfWeek.Wednesday:
                return "Miércoles";
            case DayOfWeek.Thursday:
                return "Jueves";
            case DayOfWeek.Friday:
                return "Viernes";
            case DayOfWeek.Saturday:
                return "Sábado";
            case DayOfWeek.Sunday:
                return "Domingo";
            default:
                return string.Empty;
        } 
        }
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">Dashboard</h4>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Email campaign chart -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sales Ratio</h4>
                    <div class="sales ct-charts mt-3"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-1">Referral Earnings</h5>
                    <h3 class="font-light">$769.08</h3>
                    <div class="mt-3 text-center">
                        <div id="earnings"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Users</h4>
                    <h2 class="font-light">
                        35,658 <span class="font-16 text-success font-medium">+23%</span>
                    </h2>
                    <div class="mt-4">
                        <div class="row text-center">
                            <div class="col-6 border-right">
                                <h4 class="mb-0">58%</h4>
                                <span class="font-14 text-muted">New Users</span>
                            </div>
                            <div class="col-6">
                                <h4 class="mb-0">42%</h4>
                                <span class="font-14 text-muted">Repeat Users</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Informacion de Clima</h4>
                    <div class="d-flex align-items-center flex-row mt-4">
                        <div class="display-5 text-info">
                            <img src="@($"https://v5i.tutiempo.net/wi/01/60/{Model.day1.icon}.png")" alt="Weather icon" />
                            <span><small>Min: </small>@Model.day1.temperature_min <sup>@Model.information.temperature</sup> | <small>Max</small>: @Model.day1.temperature_max<sup> @Model.information.temperature</sup></span>
                            <br /><hr/><small>@Model.day1.text</small>
                        </div>
                        <div class="ms-2">
                            <h3 class="mb-0">&nbsp;&nbsp;@Model.DayOfWeek</h3><h4>@Model.locality.name</h4>
                        </div>
                    </div>
                    <table class="table no-border mini-table mt-3">
                        <tbody>
                            <tr>
                                <td class="text-muted">Humedad</td>
                                <td class="font-medium">@Model.day1.humidity @Model.information.humidity</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Amanecer</td>
                                <td class="font-medium">@Model.day1.sunrise</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Puesta De Sol</td>
                                <td class="font-medium">@Model.day1.sunset</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="row list-style-none text-center mt-4">
                        <li class="col-2">
                            <h4 class="text-info"><img src="@($"https://v5i.tutiempo.net/wi/01/60/{Model.day2.icon}.png")" alt="Weather icon" /></h4>
                            <span class="d-block text-muted">@day2</span>
                            <span class="d-block text-muted">@Model.day2.date</span>
                            <h3 class="mt-1"><small>Min: @Model.day2.temperature_min</small><sup>@Model.information.temperature</sup> | <small>Max: @Model.day2.temperature_max</small><sup>@Model.information.temperature</sup></h3>
                            <span class="d-block text-muted">@Model.day2.text</span>
                        </li>
                        <li class="col-2">
                            <h4 class="text-info"><img src="@($"https://v5i.tutiempo.net/wi/01/60/{Model.day3.icon}.png")" alt="Weather icon" /></h4>
                            <span class="d-block text-muted">@day3</span>
                            <span class="d-block text-muted">@Model.day3.date</span>
                            <h3 class="mt-1"><small>Min: @Model.day3.temperature_min</small><sup>@Model.information.temperature</sup> | <small>Max: @Model.day3.temperature_max</small><sup>@Model.information.temperature</sup></h3>
                            <span class="d-block text-muted">@Model.day3.text</span>
                        </li>
                        <li class="col-2">
                            <h4 class="text-info"><img src="@($"https://v5i.tutiempo.net/wi/01/60/{Model.day4.icon}.png")" alt="Weather icon" /></h4>
                            <span class="d-block text-muted">@day4</span>
                            <span class="d-block text-muted">@Model.day4.date</span>
                            <h3 class="mt-1"><small>Min: @Model.day4.temperature_min</small><sup>@Model.information.temperature</sup> | <small>Max: @Model.day4.temperature_max</small><sup>@Model.information.temperature</sup></h3>
                            <span class="d-block text-muted">@Model.day4.text</span>
                        </li>
                        <li class="col-2">
                            <h4 class="text-info"><img src="@($"https://v5i.tutiempo.net/wi/01/60/{Model.day5.icon}.png")" alt="Weather icon" /></h4>
                            <span class="d-block text-muted">@day5</span>
                            <span class="d-block text-muted">@Model.day5.date</span>
                            <h3 class="mt-1"><small>Min: @Model.day5.temperature_min</small><sup>@Model.information.temperature</sup> | <small>Max: @Model.day5.temperature_max</small><sup>@Model.information.temperature</sup></h3>
                            <span class="d-block text-muted">@Model.day5.text</span>
                        </li>
                        <li class="col-2">
                            <h4 class="text-info"><img src="@($"https://v5i.tutiempo.net/wi/01/60/{Model.day6.icon}.png")" alt="Weather icon" /></h4>
                            <span class="d-block text-muted">@day6</span>
                            <span class="d-block text-muted">@Model.day6.date</span>
                            <h3 class="mt-1"><small>Min: @Model.day6.temperature_min</small><sup>@Model.information.temperature</sup> | <small>Max: @Model.day6.temperature_max</small><sup>@Model.information.temperature</sup></h3>
                            <span class="d-block text-muted">@Model.day6.text</span>
                        </li>
                        <li class="col-2">
                            <h4 class="text-info"><img src="@($"https://v5i.tutiempo.net/wi/01/60/{Model.day7.icon}.png")" alt="Weather icon" /></h4>
                            <span class="d-block text-muted">@day7</span>
                            <span class="d-block text-muted">@Model.day7.date</span>
                            <h3 class="mt-1"><small>Min: @Model.day7.temperature_min</small><sup>@Model.information.temperature</sup> | <small>Max: @Model.day7.temperature_max</small><sup>@Model.information.temperature</sup></h3>
                            <span class="d-block text-muted">@Model.day7.text</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
